@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  .font-fancy {
    font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: oblique;
  }
}
